.streamlit/secrets.toml
.streamlit/config.toml
#ignore l'environnement virtuel
gee_env 
#variables d'environnement
.env
#ignorer le fichier python compilé
__pycache__/
*.pyc
#ignorer les fichiers de logs
*.log
